<head>
    <title>Lisää uusi kirja</title>
</head>
{% extends "layout.html" %}
{% block content %}
<body>
    
    <h2>Lisää uusi kirja</h2>
<br>
<form action="/add_new_book" method="POST" enctype="multipart/form-data">
    Nimike (title): <br>
    <textarea placeholder="1-80 merkkiä" name="title" rows="1" cols="50"></textarea>
    <p>
    Kirjoittajat (author): <br>
    <textarea placeholder="Lisää uusi kirjoittaja uudelle riville" name="author" rows="5" cols="50" maxlength="250"></textarea>
    <p>
    Vuosi (year): <br>
    <input type="number" name="year">
    <p>
    Julkaisija (publisher)<br>
    <textarea placeholder="2-40 merkkiä" name="publisher" rows="1" cols="50"></textarea>
    <p>
<!--    Avainsanat (keywords): <br>
    <textarea placeholder="Lisää uusi avainsana uudelle riville" name="keywords" rows="5" cols="50" maxlength="250" ></textarea>
    <p>-->
    <input type="submit" value="Lisää">
    <p>
{% endblock %}
