<head>
    <title>Lisää uusi artikkeli</title>
</head>
{% extends "layout.html" %}
{% block content %}
<div class='container'>
    
    <h2>Lisää uusi artikkeli</h2>
<form action="/add_new_article" method="POST" enctype="multipart/form-data">
    <input type="hidden" id="type" name="type" value="article">    
    <p>
    Nimike (title): <br>
    <textarea placeholder="1-80 merkkiä" name="title" rows="1" cols="50" maxlength="80"></textarea>
    <p>
    Kirjoittajat (author) - lisää jokainen kirjoittaja omalle riville: <br>
    <textarea placeholder="Lisää uusi kirjoittaja uudelle riville" name="author" rows="5" cols="50" maxlength="250"></textarea>
    <p>
    Lehti (journal): <br>
    <textarea placeholder="1-80 merkkiä" name="journal" rows="1" cols="50"></textarea>
    <p>
    Vuosi (year): <br>
    <textarea placeholder="esim. 1990" name="year" rows="1" cols="50"></textarea>
    <p>
    Lehden numero (volume): <br>
    <textarea placeholder="esim. 7" name="volume" rows="1" cols="50"></textarea>
    <p>
    Sivut (pages): <br>
    <textarea placeholder="esim. 38-46 tai 46" name="pages" rows="1" cols="50"></textarea>
    <p>
    <input type="submit" value="Lisää">
    <p>
    </div>
{% endblock %}
