<head>
    <title>Lisää uusi artikkeli</title>
</head>
{% extends "layout.html" %}
{% block content %}
<div class='container'>
    
    <h2>Lisää uusi artikkeli</h2>
<form action="/add_new_article" method="POST" enctype="multipart/form-data">
    <p>
    Nimike (title): <br>
    <textarea placeholder="1-80 merkkiä" name="title" rows="1" cols="50"></textarea>
    <p>
    Kirjoittajat (author): <br>
    <textarea placeholder="Lisää uusi kirjoittaja uudelle riville" name="author" rows="5" cols="50" maxlength="250"></textarea>
    <p>
    Lehti (journal): <br>
    <textarea placeholder="1-80 merkkiä" name="journal" rows="1" cols="50"></textarea>
    <p>
    Vuosi (year): <br>
    <textarea placeholder="esim. 1990" name="year" rows="1" cols="50"></textarea>
    <p>
    Vuosikerta (volume): <br>
    <textarea placeholder="esim. 7" name="volume" rows="1" cols="50"></textarea>
    <p>
    Sivut (pages): <br>
    <textarea placeholder="esim. 38-46" name="pages" rows="1" cols="50"></textarea>
    <p>
<!--    Avainsanat (keywords): <br>
    <textarea placeholder="Lisää uusi avainsana uudelle riville" name="keywords" rows="5" cols="50" maxlength="250" ></textarea>
    <p>-->
    <input type="submit" value="Lisää">
    <p>
    </div>
{% endblock %}