<!DOCTYPE html>
<html lang="fi">
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
   <link rel="stylesheet" href="/static/main.css">
   <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
   <meta name="viewport" content="width=device-width initial-scale=1.0">
   <h1 style="text-align:center; margin-top: 20px;">Latex-viitteet</h1>
   <hr>
   <p>
   <body>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
         {% for message in messages %}
         <i><b>{{ message }}</b></i>
         {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
      <div class="button-group">
      <a href="/">Etusivulle</a>
      {% if current_user.is_authenticated %}
      <a href="/logout">Kirjaudu ulos</a>
      {% endif %}
      </div>
   </body>
</html>