<head>
    <title>Luo uusi käyttäjätunnus</title>
 </head>
 {% extends "layout.html" %}
 {% block content %}
 <div class='container'>
    <h2>Luo uusi käyttäjätunnus</h2>
<form action="/register" method="POST" enctype="multipart/form-data">
<p>
    Käyttäjätunnus (tunnuksen tulee olla 6-30 merkkiä pitkä): <br>
    <textarea placeholder="6-30 merkkiä" name="username" rows="1" cols="50"></textarea>
    <p>
    Salasana (salasanan tulee sisältää vähintään yksi pieni kirjain, iso kirjain sekä numero): <br>
    <textarea placeholder="6-30 merkkiä" name="password" rows="1" cols="50"></textarea>
    <p>
    <input type="submit" value="Rekisteröidy">
    <p>
    </div>
{% endblock %}
