[run]
source = src
; Ei oteta huomioon init, tai testi tiedostoja. Myös flask app luonti ja tietokannan kanssa toimivat luokat jäävät yksikkötestien ulkopuolelle
omit = src/**/__init__.py, src/tests/**, Library.py, src/flaskapp/app.py, src/flaskapp/routes.py, src/repositories/citation_repository.py, src/repositories/user_repository.py
